# Default ignored files
/shelf/
/workspace.xml
/.idea

Pipfile
Pipfile.lock

.DS_Store
*.pyc
*.log
/CalculateETFArbitrage/etfwhichfailed.csv
/FlaskAPI/etfanalyzer-firebase-adminsdk-ecv8s-f06e129d8f.json
/Analyzing Signals (1).ipynb
/Analyzing Signals (2).ipynb
/CalculateETFArbitrage/DataRepairRunners/etfwhichfailed.csv
/3BlackCrows Pat.xlsx
/3LineStrike Pat.xlsx
/3WhiteSoldiers Pat Good Pattern.xlsx
/AllRightSPY.csv
/AllWrongSPY.csv
/Analyzing Signals (3).ipynb
/Analyzing Signals (4).ipynb
/Analyzing Signals (5).ipynb
/Analyzing Signals MultiThreading.ipynb
/HammerPat.csv
/PiercingLine Pat Bear Reversal Good Pattern.xlsx
/ArbitrageLiveToHist.py
/Dockerfile
